@font-face {
    font-family: 'Montes';
    src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src: url("fonts/Open_Sans/OpenSans-VariableFont_wght.ttf") format('truetype');
}

.disabledElem{
    opacity: .3 !important;
    text-decoration: line-through !important;
}

a:cl{
    color: white;
}

a, h1, h2, h3, p{
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
}

nav, header, section{
    position: relative;
}

.mobileShow{
    display: none !important;
}

.contain{
    max-width: 80rem;
    display: flex;
    margin: 0px auto;
}

body{
    margin: 0px;
}

nav{
    background-color: rgb(17 24 39);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

nav .contain{
    padding: 8px 5%;
}

nav .contain a{
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
}

nav .contain a img{
    height: 40px;
    width: auto;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
}

nav .contain #menu{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

nav .contain #menu a{
    font-size: 0.875rem;
    padding: 15px;
    position: relative;
    left: 5%;
}

nav .contain #menu a:hover{
    color: rgb(203, 64, 157); 
}

nav .contain #menu a svg{
    width: 1.5rem;
    height: 1.5rem;
}

header{
    position: relative;
    height: 100%;
    margin-top: 88.48px;
}

header section{
    display: inline-block;
    padding: 12rem 7%;
    background: rgb(2,0,36);
    background: 
        linear-gradient(
            90deg, 
            rgba(2, 0, 36, 0.5) 0%, 
            rgba(255,255,255,0) 80%, 
            rgba(255,255,255,0) 100%
        );
}

header section h2{
    display: inline-block;
    font-weight: bold;
    font-size: 3.75rem;
    letter-spacing: -2px;
    margin-bottom: 0px;
    /*white-space: nowrap;*/
    color: white;
}

header section p{
    line-height: 40px;
    color: white;
    font-size: 1.1rem;
    max-width: 632px;
    margin-bottom: 40px;
    margin-top: 5px;
}

.contactBtn{
    background-color: rgb(203, 64, 157);
    padding: 10px 15px;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 5px;
    color: white;
}

video{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10;
    width: 100%;
    object-fit: cover;
    height: min-content;
    height: 100%;
}

section#about_us{
    display: flex;
    background-color: rgb(243 244 246);
    color: rgb(17 24 39);
    padding: 5rem 3rem;
    justify-content: center;
}

section#about_us picture{
    /*display: flex;*/
}

section#about_us img{
    border-radius: 10px;
    /*width: 88%;*/
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.3);
    /*margin-bottom: 1rem;*/
    max-width: 368px;
}

section h1{
    font-weight: 700;
    font-size: 36px;
    font-family: 'Montes', sans-serif;
    color: rgb(17 24 39);
}

section#about_us .right{
    margin-left: 5rem;
    /*max-width: 60%;*/
    flex-basis: 55%;
}

section#about_us .right p{
    font-size: 16px;
    line-height: 1.8rem;
}

section#our_soap{
    padding-top: 3rem;
    text-align: center;
}

section#our_soap h1{
    margin-bottom: 5px;
}

section#our_soap h2{
    font-size: 1rem;
    width: 60%;
    margin: 5px auto;
    line-height: 1.8rem;
    padding-bottom: 4rem;
}

section#our_soap #soaps{
    justify-content: center;
    /*border-top: 1px solid rgba(2,0,36, .3);*/
    /*border-bottom: 1px solid rgba(2,0,36, .3);*/
    padding-top: 10px;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

section#our_soap #soaps .soapBar{
    
}

section#our_soap #soaps .soapBar img{
    width: 280px;
}

section#our_soap #soaps .soapBar h1{
    font-size: 34px;
    margin-top: .8rem;
    font-weight: 500;
    position: relative;
}

section#our_soap #soaps .soapBar h1 span{
    font-size: 12px;
    display: block;
    width: 100%;
    height: 15px;
    opacity: .8;
}

section#our_soap #soaps .soapBar > p{
    max-width: 70%;
    margin: 0px auto;
    font-weight: 350;
}

section#our_soap #soaps .soapBar .buybar{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    max-width: 70%;
    margin: 0px auto;
    font-family: sans-serif;
}

section#our_soap #soaps .soapBar .buybar a{
    margin-left: auto;
    font-weight: 550;
    text-decoration: underline;
}

section#our_soap #soapCheckout{
    margin-bottom: 2rem;
    /*height: 0px;*/
    overflow: hidden;
    transition: height 1s;
}

section#our_soap #soapCheckout:hover{
    height: 53.6px;
}

section#our_soap #soapCheckout a{
    font-size: 26px;
    padding: 8px 25px;
    border-bottom: 2px solid rgba(77, 77, 79, 0.4);
    display: inline-block;
    /*background-color: rgba(203, 64, 157, .5);*/
    opacity: .7;
    cursor: pointer;
    transition: margin-left 2s, opacity 2s;
}

section#our_soap #soapCheckout a:hover{
    /*opacity: 0;
    margin-left: -400px;*/
    opacity: 1;
}

section#our_soap #soapCheckout a img{
    vertical-align: bottom;
    width: 35px;
}

section#our_soap #soapCheckout a span{
    margin-right: 10px;
}

section#contact_us1{
    background-color: rgb(17 24 39);
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: center;
}

section#contact_us1 h2{
    max-width: 60%;
    text-align: center;
    margin: 0px auto;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(243 244 246);
    margin-bottom: 2rem;
}

section#contact_us1 .contactBtn{
    font-size: 1rem;
}

section#contact_us{
    background-color: rgb(243 244 246);
    padding-top: 4rem;
    padding-bottom: 5rem;
    text-align: center;
}

section#contact_us h1{
    margin-top: 0px;
}

section#contact_us form .contain{
    text-align: left;
    display: grid;
    font-family: 'Montes', sans-serif;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 56rem;
    column-gap: 1rem;
}

section#contact_us form fieldset{
    border: 0px solid transparent;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
    margin: 0px;
}

.contactField{
    padding: 15px 0px;
}

.contactField label{
    display: block;
    padding-bottom: 8px;
    font-weight: 600;
}

.contactField label span{
    color: red;
}

.contactField input, .contactField textarea{
    border: 1px solid rgba(77, 77, 79, 0.2);
    border-radius: 5px;
    font-size: 26px;
    width: 100%;
}

section#contact_us form button{
    grid-column: span 2;
    margin: 0px .55rem;
    border: 2px solid transparent;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
}

section#contact_us form button:hover{
    border: 2px solid rgba(77, 77, 79, 0.8);
}

footer{
    background-color: rgb(17 24 39);
    color: white;
    padding: 15px 5%;
}

footer .contain{
    justify-content: flex-start;
}

.break{
    width: 100%;
}

footer .contain .footerCol{
    position: relative;
}

footer .contain .footerCol a#footerLogo img{
    width: 100px;
    background-color: white;
    border-radius: 50px;    
    margin-right: 20px;
}

footer .contain .footerCol a#footerLogo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

footer .contain .footerCol a#footerLogo h1{
    margin-top: 16px;
}

footer .contain .footerCol a#footerLogo p{
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 16px;
}

footer .contain .footerCol.contact{
    margin-left: auto;
}

footer .contain .footerCol h2{
    font-size: 32px;
    margin: 16px 0px;
    text-align: right;
}

footer .contain .footerCol h3{
    text-align: right;
    margin: 8px 0px 8px 15px;
}

footer .contain .footerCol h3 span{
    width: 60px;
    text-align: left;
    display: inline-block;
}

footer .contain .footerCol #footerSocial{
    text-align: right;
    margin-top: 10px;
}

footer .contain .footerCol #footerSocial a{
    display: inline-block;
    margin-left: 10px;
}

footer .contain .footerCol #footerSocial a svg{
    width: 40px;
    height: 40px;
    color: white;
    vertical-align: bottom;
}

footer h4{
    text-align: left;
    margin: 0px auto;
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    letter-spacing: .5px;
}