@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.mobileShow{
    display: none !important;
}

.tabletShow{
    display: none !important;
}


h1, h2{
    font-family: 'Open Sans', Roboto Slab, sans-serif;
    font-weight: normal;
}

a{
    color: inherit;
}

/* Body and header styles */
body{
    font-family: Roboto Slab, 'Open Sans', sans-serif;
    margin: 0px auto;
    text-align: center;
    /* color: #2f3f7d; */
    background-image: linear-gradient(rgba(0,0,0,.2) 18%, rgba(253, 253, 253, 1) 21%), url("/assets/output_1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

header nav, header div#landing, section{
    max-width: 1800px;
    margin: 0px auto;
}

header{
    padding: 10px 5% 0px 5%;
    /* background-color: #e8f9fe; */
    margin: 0px auto;
    margin-bottom: 00px;
    overflow-y: hidden;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    display: inline-flex;
    width: 25%;
    margin-right: 5%;
    margin-left: 0px;
}

header nav div{
    display: inline-flex;
    margin-top: 20px;
}

header nav a{
    /*color: #2f3f7d;*/
    color: rgb(245, 247, 244);
    text-shadow: 0px 0px 10px #0eb3e1;
    text-transform: uppercase;
    padding: 8px;
    margin-right: 10px;
    font-size: 21px;
    text-decoration: none;
}
header nav a:hover{
    text-decoration: underline;
}

header nav div#navBtn{
    margin-left: 5%;
}

header nav div#navBtn a{
    margin: 0px;
    padding: 10px 15px;
    color: white;
    background-color: #0eb3e1;
}

/* Header landing */

div#landing{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding-bottom: 20px;
    color: rgb(245, 247, 244);
}

div#landingLeft{
    min-width: 380px;
    text-align: left;
    width: 45%;
}

div#landingLeft h1{
    font-weight: bold;
    font-size: 42px;
    text-shadow: 0px 0px 10px #0eb3e1;
}

div#landingLeft p{
    font-size: 22px;
    text-shadow: 0px 0px 10px black;
}

div#landingLeft #landingContact{
    margin-top: 60px;
}

div#landingLeft #landingContact a{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
}

div#landingLeft #landingContact a.smallContact{
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #2f3f7d;
    margin-left: 20px;
}

div#landingLeft #landingContact a.smallContact img{
    width: 18px;
    vertical-align: middle;
    margin-right: 0px;
    margin-left: 5px;
}

div#landingLeft #landingContact a img{
    width: 30px;
    vertical-align: bottom;
    margin-right: 10px;
}

div#landingRight{
    width: 60%;
    min-height: 520px;
    max-width: 740px;
}

div#landingRight .landingContainer{
    width: 100%;
    position: relative;
    display: inline-block;
    min-width: 580px;
}

div#landingRight .landingContainer #phoneBg{
    background-color: #0eb3e1;
    position: absolute;
    left: 25%;
    top: 10%;
    width: 55%;
    height: 120%;
    z-index: 3;
    transform: skewY(-5deg);
}

div#landingRight .landingContainer #phoneBg:after, div#landingRight #phoneBg:before {
    display: block;
    content: "";
    color: transparent;
    width: 105%;
    height: 65px;
    background: #e8f9fe;
    position: absolute;
    left: -10px;
    bottom: -33px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

div#landingRight .landingContainer #phoneBG_linkWrap > a img{
    vertical-align: middle;
    margin-right: 10px;
}

div#landingRight .landingContainer #phoneBG_linkWrap > a{
    position: absolute;
    display: inline-block;
    top: 82%;
    right: 15%;
    padding: 20px 25px;
    background-color: white;
    color: #0eb3e1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0eb3e177;
    transition: box-shadow 1s;
    z-index: 4;
    margin-right: 36%;
}

div#landingRight .landingContainer #phoneBG_linkWrap > a:hover{
    box-shadow: 0px 0px 15px #0eb3e1;
}

div#landingRight .landingContainer #phoneBG_linkWrap > a span{
    display: inline-block;
    line-height: 30px;
}

div#landingRight .landingContainer > img{
    position: relative;
    width: 100%;
    display: block;
    z-index: 3;
    min-width: 580px;
}

/* main Content */

section{
    padding: 40px 5% 20px 5%;

}
section#about_us{
    color: rgb(245, 247, 244);
    padding-top: 0px;
    padding-bottom: 0px;
}
section#about_us div#about_imgWrap{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    margin: 0px;
    align-content: flex-start;
    gap: 10px;
    position: relative;
    margin-right: 10%;
}

/* section#about_us div#about_imgWrap img{
    z-index: 5;
} */
section#about_us div#about_imgWrap picture{
    width: 500px;
}
section#about_us div#about_imgWrap picture img{
    width: 100%;
    border-radius: 10px;
}

section#about_us div#about_imgWrap > img.sideImg{

}

section#about_us div#about_imgWrap div{
    display: block;
    width: 480px;
    height: 480px;
    background-color: #e8f9fe;;
    position: absolute;
    z-index: 3;
    right: -20px;
    bottom: 25px;
}

section#about_us div#about_text{
    text-align: left;
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    width: 35%;
}

section#about_us div#about_text h2{
    color: rgb(245, 247, 244);
    text-shadow: 0px 0px 12px black;
    font-size: 38px;
}

section#about_us div#about_text h1{
    font-weight: bold;
    font-size: 36px;
}

section#about_us div#about_text p{
    font-size: 22px;
    line-height: 30px;
    text-shadow: 0px 0px 8px black;
}

section > h1{
    font-size: 42px;
    margin-top: 0px;
    width: 375px;
    text-align: left;
}

section h2{
    color: #0eb3e1;
    margin-bottom: 0px;
    margin-top: 60px;
    text-align: left;
}

section#our_services{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f9f9f9;
    background-image: linear-gradient(#fdfdfd 70%, #f9f9f9);
}

section#our_services div#services_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#our_services div#services_wrapper div.service_box{
    /* background-color: #0eb3e1;
    color: #ffffff; */
    min-width: 245px;
    width: 261px;
    max-width: 262px;
    display: inline-block;
    padding: 50px 20px 30px 20px;
    border-radius: 10px;;
    box-shadow: 0px 5px 15px #0eb3e185;
    margin: 10px 5px;
}

section#our_services div#services_wrapper div.service_box > img{
    height: 60px;
    width: 80px;
    
}

section#our_services div#services_wrapper div.service_box h3{
    font-size: 24px;
}

section#our_services div#services_wrapper div.service_box ul{
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    text-align: left;
}

section#our_services div#services_wrapper div.service_box ul li{
    padding-bottom: 5px;
    color: rgba(77,77,77,1);
}

section#our_services div#services_wrapper div.service_box ul li img{
    width: 14px;
    height: 14px;
    vertical-align: top;
    margin-right: 5px;
    margin-top: 2px;
}

section#our_services #img_contain{
    position: relative;
    text-align: center;
    overflow-y: hidden;
    min-width: 1042px;
    padding-bottom: 40px;
}

section#our_services #img_contain div.fadeTop{
    position: absolute;
    top: 10px;
    height: 80px;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

section#our_services #img_contain img{
    width: 100%;
    margin: 15px auto 0px auto;
}

section#our_services #img_contain #img_text h1{
    margin-top: -25%;
    font-size: 52px;
}

section#our_services #img_contain #img_text p{
    margin: 0px auto 15px auto;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-weight: normal;
    line-height: 30px;
}

section#our_services #img_contain #img_text p img{
    width: 25px;
    vertical-align: middle;
    margin: -4px 15px 0px 0px;
}

section#our_services #img_contain #img_text p img:nth-child(2){
    position: absolute;
    width: 15px;
    left: 5px;
    top: 14px;
}

/* Recently Repaired */

section#repaired{
    background-color: rgba(232,249,254,1);
    text-align: center;
}

section#repaired h1{
    margin: 20px auto 30px auto;
    font-size: 48px;
    width: auto;
    text-align: center;
}

section#repaired div.repaired_wrapper{
    display: inline-flex;
    margin: 0px auto;
    align-items: center;
    margin-bottom: 15px;
}

section#repaired div.repaired_wrapper a{
    width: 50px;
    line-height: 50px;
    background-color: #0eb3e1;
    border-radius: 25px;
}

section#repaired div.repaired_wrapper a img{
    width: 20px;
    position: relative;
    top: -3px;
}

section#repaired div.repaired_wrapper div.repaired_slides{
    margin: 0px 25px;
    padding: 25px 14px 0px 14px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #0eb3e150;
}

section#repaired div.repaired_wrapper div.repaired_slides img{
    width: 200px;
    margin: 0px 3px;
}

section#repaired div.repaired_wrapper div.repaired_slides p{
    color: rgba(77,77,77,1);
    font-family: Montserrat;
}

section#repaired div.repaired_wrapper div.repaired_slides p span{
    font-weight: bold;
}

section#repaired div.repaired_wrapper div.repaired_slides p span:last-child{
    margin-left: 30px;
}

section#repaired div#repaired_dots{

}

section#repaired div#repaired_dots a{
    content: " ";
    display: inline-block;
    background-color: #0eb3e1;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: .4;
}

section#repaired div#repaired_dots a.active{
    opacity: 1;
}

section#repaired h2{
    color: #2f3f7d;
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

section#repaired > a{
    display: inline-block;
    text-decoration: none;
    color: #0eb3e1;
    font-size: 20px;
    margin: 30px auto;
}

section#repaired > a:hover{
    text-decoration: underline;
}

section#repaired > a img{
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
    width: 40px;
}

section#faqs{
    background-color: transparent;
}

section#faqs h1{
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
}

section#faqs h2{
    font-family: Montserrat;
    margin-bottom: 5px;
    text-align: center;
}

section#faqs div#faqs_contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

section#faqs div#faqs_contain div.faqs_box{
    width: 40%;
    min-height: 60px;
    padding: 30px 30px 30px 30px;
    margin: 15px;
    box-shadow: 0px 10px 20px #0eb3e150;
    color: rgba(77,77,77,1);
    text-align: left;
    border-radius: 10px;
}

section#faqs div#faqs_contain div.faqs_box p{
    margin: 0px;
    font-size: 14px;
}

section#faqs div#faqs_contain div.faqs_box p:first-child{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

section#reviews{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section#reviews div.reviewHeading{
    width: 20%;
    min-width: 260px;
    text-align: left;
    padding-right: 40px;
}

section#reviews div.reviewHeading h1, h2{
    margin: 0px !important
}

section#reviews div.reviewHeading h1{
    font-size: 28px;
}

section#reviews div.reviewText{
    width: 80%;
    max-width: 900px;
    text-align: left;
    color: rgba(77,77,77,1);
}

section#reviews div.reviewText p{
    margin: 0px;
    padding-left: 10px;
    text-indent: -10px;
    opacity: .8;
    font-size: 18px;
    line-height: 28px;
}

section#reviews div.reviewText p span{
    font-size: 26px;
    padding-right: 5px;
    opacity: 1;
    line-height: 20px;
}

section#reviews div.reviewText p.reviewAuthor{
    margin-top: 15px;
    color: #2f3f7d;
    text-indent: 0px;
    opacity: 1;
    font-size: 24px;
}

div.contact_us{
    background-color: rgba(47,63,125,1);
    color: white !important;
    display: flex;
    justify-content: center;
}

div.contact_us form{
    width: 50%;
    margin-bottom: 55px;
    padding-top: 35px;
}

div.contact_us form h1{
    font-weight: bold;
    font-size: 42px;
    display: inline-block;
    margin: 15px auto;
    width: 60%;
    text-align: left;
    position: relative;
    left: -16px;
}

div.contact_us form fieldset{
    border: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

input, textarea, select{
    display: block;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 15px 15px;
    margin: 15px auto 15px auto;
    width: 60%;
    color: white;
}

input::placeholder, textarea::placeholder{
    color: white;
}

div.contact_us form fieldset div.button_container{
    display: block;
    width: 60%;
    margin: 0px auto;
    position: relative;
    left: -16px;
}

div.contact_us form fieldset button{
    color: white;
    background-color: #0eb3e1;
    border: none;
    padding: 10px;
    width: 140px;
    font-size: 16px;
    margin: 0px auto;
}

div.contact_us img{
    width: 50%;
}

div.contact_us.flipped{
    background-color: rgba(232,249,254,1);
    color: rgba(47,63,125,1) !important;
    margin-bottom: 60px;
}

div.contact_us.flipped div.field_row{
    margin: 0px auto;
    width: 65%;
    display: flex;
}

div.contact_us.flipped div.field_row select{
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}

div.contact_us.flipped div.field_row select:last-child{
    margin-right: 0px;
}

div.contact_us.flipped input, div.contact_us.flipped textarea, div.contact_us.flipped select{
    color: rgba(47,63,125,1) !important;
    border: 1px solid rgba(47,63,125,1);
}

div.contact_us.flipped input::placeholder, div.contact_us.flipped textarea::placeholder{
    color: rgba(47,63,125,1) !important;
}

footer{
    min-width: 990px;
}

footer img{
    width: 240px;
    margin-bottom: 40px;
}

footer div#footer_flex{
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer div#footer_flex iframe{
    margin-right: 15px;
    width: 220px;
    height: 200px;
}

footer div#footer_flex ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: left;
}

footer div#footer_flex > ul:first-of-type{
    max-width: 245px;
    overflow-y: visible;
}

footer div#footer_flex > ul:first-of-type li:last-child{
    margin-top: 50px;
    width: 275px;
    color: #2f3f7d;
    font-size: 20px;
    font-weight: bold;
}

footer div#footer_flex > ul:first-of-type li:last-child a{
    display: inline-block;
    margin-top: 10px;
}

footer div#footer_flex > ul:first-of-type li:last-child a img{
    margin: 0px;
    width: 38px;
    height: 38px;
}

footer div#footer_flex ul li:first-child{
    color: #2f3f7d;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 0px !important;
}

footer div#footer_flex ul li img{
    width: 25px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    vertical-align: top;
}

footer div#footer_flex ul li{
    padding-left: 35px;
    margin-bottom: 5px;
    color: #4d4d4d;
    font-size: 16px;
    font-family: Montserrat;
}

footer div#footer_flex div.listContain ul{
    margin-bottom: 25px;
}

footer div#footer_flex ul.socialLinks li{
    padding: 0px;
    margin-bottom: 15px;
}

footer div#footer_flex ul.socialLinks img{
    width: 42px;
    height: 42px;
    margin: 0px;
}

footer > p{
  margin: 50px auto 0px auto;
  font-size: 22px;
  color: rgb(0, 0 , 0, .35);
  background-color: rgba(232,249,254,1);
  font-weight: normal;
  padding: 15px 0px;
}
