.mobileHide{
    display: none;
}

.mobileShow{
    display: inline !important;
}
/* Its obvious */

header a.mobileMenu{
    display: inline-flex;
    font-size: 20px;
    background-color: transparent;
}

header a.mobileMenu i{
    margin-right: 10px;
}

header a.mobileMenu:hover > i{
    color: #3bfd0077;
}

header div.mobileWrap{
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 50%;
    align-content: flex-start;
    max-height: 45px;
    overflow: hidden;
}

header div.mobileWrap.mobileSlide{
    max-height: 255px;
}

/*header div.mobileWrap a{
    -webkit-flex: 0 1 50%; /* Safari 
    -ms-flex: 0 1 65%; /* IE 10 
    flex: 0 1 50%; /* Standard syntax 
    border-right-width: 0px;
}*/

header nav{
    margin-bottom: 0px;
}

header div.mobileWrap.navRight{
    margin-left: auto;
    flex-direction: row;
    align-self: flex-start;
}

header div.mobileWrap a:hover{
    background-color: transparent;
    color: #3bfd0077;
}

header div.mobileWrap a{
    padding: 10px 10px;
}

header nav a i{
    font-size: 20px;
}

header nav a.navBtn{
    border-right-width: 2px;
    background-color: transparent;
    font-size: 18px;
    flex-basis: 80%;
    border-right: 0px;
    text-align: right;
}

header nav a.navBtn i.mobileShow{
    margin-left: 15px;
}

header div.mobileWrap a.navItem{
    margin-left: 30px;
    flex-basis: 65%;
    border-left: 2px solid #3bfd0077;
    text-align: left;
    margin-top: -1px;
}

header nav a.navItem.navLast{
    border-bottom: 2px solid #3bfd0077;
}

header nav a.quoteBtn{
    display: inline-block;
    margin-top: 0px;
}

header nav a.menuToggle{
    opacity: 0;
    transition: .5s opacity;
}

header nav a.toggleOn{
    opacity: 1;
}

/* Main section styles */

.splitLeft h1{
    font-size: 30px;
}

.splitLeft h2, .splitLeft .bottomText a.locationLink{
    font-size: 20px;
}

.splitRight{
    flex: 1 0 0;
}

.splitRight img{
    min-width: 250px;
}

span.quoteLong{
    display: inline;
}

/* Our Services Styles */

#our_services div.sectionWrapper div.servicesItem i {
    margin-right: 0px;
    font-size: 80px;
    min-width: 115px;
}

@media(max-width: 400px){
    #our_services div.sectionWrapper div.servicesItem h2{
        text-align: center;
    }
}

#our_services div.sectionWrapper div.servicesItem ul{
    min-width: fit-content;
}

#our_services div.sectionWrapper div.servicesItem ul li{
    min-width: fit-content;
}

/* Recent Projects Styles */
div#recentProjects .imgWrapper:last-child{
    margin-left: 0px;
}

div#recentProjects .imgWrapper{
    height: 500px;
    min-width: 310px;
    text-align: center;
}

div#recentProjects .projectImages{
    margin: 0px auto;
    width: 98%;
}

div#recentProjects .projectDescription h2 {
    font-size: 20px;
}

div#recentProjects .projectDescription {
    margin: 15px 15px 30px 15px;
}

div#recentProjects .projectDescription #recentReviews{
    margin-top: 30px;
    padding-bottom: 0px;
}

/* FAQ styles */

section.mainSection ul.faqList li > p:hover{
    cursor: pointer;
}

section.mainSection ul.faqList li.mobileSlideHide{
    max-height: min-content;
    overflow: hidden;
}

section.mainSection ul.faqList li.mobileSlideHide .faqAnswer_wrapper{
    max-height: 0px;
    overflow: hidden;
}

section.mainSection ul.faqList .faqAnswer_wrapper{
    max-height: 200px;
    transition: max-height 1s;
}

section.mainSection h1{
    font-size: 40px;
}

section.mainSection ul.faqList li .faqAnswer{
    margin-left: 0px;
}

/* Contact Us Styles */

h1.sectionHeader a{
    min-width: 110px;
    font-size: 22px;
}

#contact_form .fieldRow.quoteFields select{
    position: initial;
    display: block;
}

/* Footer Styles */

footer{
    flex-direction: row;
    flex-wrap: wrap;
}

footer iframe{
    margin-right: 10px;
    margin-bottom: 20px;
}

footer ul li:first-child{
    margin-top: 0px;
}

footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 49%;
}

footer .footerRight{
    margin-left: 0px;
    width: 100%;
}

footer .footerRight ul{
    width: 100%;
    flex-direction: column;
    margin-bottom: 25px;
}

footer .footerRight ul li{
    min-width: 253px;
    padding: 0px 0px 10px 0px;
    font-size: 18px;
}