.xlHide{
    display: none;
}

header nav {
    padding: 10px 4%;
}

header nav a {
    font-size: 18px;
}

header nav div#navBtn {
    margin-left: 4%;
}

header nav div#navBtn a {
    padding: 10px;
}

div#services_wrapper{
    padding-left: -25px;
}

section#faqs div#faqs_contain div.faqs_box {
    width: 80%;
}

footer div#footer_flex > ul#footerWrp{
    display: inline-flex;
    max-width: 100%;
    margin-top: 20px;
}

footer div#footer_flex ul .footerSoc:last-child{
    margin-left: 30px;
}