.mobileHide{
    display: none !important;
}

.mobileShow{
    display: flex !important;
}

header section {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

section#about_us picture img{
    max-width: 320px;
}

section#about_us .right{
    margin-left: 1rem;
}

footer h4 {
    position: relative;
}