section#about_us{
    flex-direction: column;
}

section#about_us picture{
    display: flex;
    flex-basis: 90%;
    justify-content: center;
}

section#about_us picture img{
    max-width: 500px;
}

section#our_soap h2{
    font-size: 1rem;
    width: 90%;
}

footer .contain .footerCol a#footerLogo img{
    width: 80px;
}

footer .contain .footerCol a#footerLogo h1{
    font-size: 26px;
}

footer .contain .footerCol h2{
    font-size: 26px;
}